body {
  height: 120vh;
  padding: 0;
  background-image: radial-gradient(circle, #2A2B3F, #272530);
  overflow: hidden;
}


.cards{
  display: grid;
  align-items: center;
}



.space {
  margin-top: 50vh;
  margin-left: 10vw;
  width: 98vw;
  height: 100vh;
}
.space .earth {
  margin-top: -60vh;
  width: 80vw;
  height: 80vh;
  /* position: fixed; */
  bottom: 0;
  left: 10vw;
  z-index: 99999;
}
.space .moon {
  width: 10vw;
  height: 10vw;
  animation: moon 15s infinite linear;
  position: absolute;
  bottom: 0;
  left: 45vw;
  z-index: 9999999;
}
.space .star {
  width: 0.2vw;
  height: 0.2vw;
  background: #F4ECE6;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px 0px #f4ece6;
  -moz-box-shadow: 0px 0px 5px 0px #f4ece6;
  box-shadow: 0px 0px 5px 0px #f4ece6;
}
.space .rocket {
  width: 59px;
  height: 52px;
  position: absolute;
  bottom: 232px;
  margin: 0 auto;
  left: -360px;
  right: 0;
  z-index: 999999999;
  -webkit-animation: rocket 100s infinite;
  animation: rocket 100s infinite;
}

@keyframes moon {
  from {
    transform: rotate(0deg) translate(-23vw) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-23vw) rotate(-360deg);
  }
}
@-webkit-keyframes rocket {
  0% {
    bottom: 232px;
    left: -360px;
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  10% {
    bottom: 150px;
    left: -800px;
    transform: rotate(120deg);
  }
  20% {
    bottom: 450px;
    left: -400px;
    transform: rotate(190deg);
  }
  30% {
    bottom: 410px;
    left: 800px;
    transform: rotate(180deg);
  }
  40% {
    bottom: 410px;
    left: 800px;
    transform: rotate(100deg);
  }
  45% {
    bottom: 350px;
    left: 800px;
    transform: rotate(100deg);
  }
  50% {
    bottom: 390px;
    left: 800px;
    transform: rotate(10deg);
  }
  60% {
    bottom: 390px;
    left: 500px;
    transform: rotate(0deg);
  }
  70% {
    bottom: 370px;
    left: 300px;
    transform: rotate(100deg);
  }
  80% {
    bottom: 50px;
    left: 300px;
    transform: rotate(160deg);
  }
  90% {
    bottom: 160px;
    left: 600px;
    transform: rotate(30deg);
  }
}